/*Nuestra hoja de estilo predefinida*/
@font-face {
    font-family: 'F1Font'; /* Nombre que usarás para referenciar la fuente */
    src: url('Formula1-Regular-1.ttf'); /* Ruta real de tu archivo de fuente */
}
body{ 
    font-family: 'F1Font', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    text-align: center;
}

/*SECCION HEADER////////////////////////////////////////////////////////////////*/
header{
    background-color: rgb(47, 47, 190);
    color: white;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1% 2%;
}

ul{
    margin: 0;
}
ul li{
    display: inline-block;
    margin-right: 4%;
}
.router-link{
    text-decoration: none;
    color: white;
}

/*TARJETAS/////////////////////////////////////////*/
.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr)); /* Ajusta el tamaño de las columnas para tener tres tarjetas por fila */
    gap: 20px;
    justify-items: stretch;
  }
  
  .tarjeta {
    display: grid;
    grid-template-columns: auto 1fr; /* La primera columna se ajustará al contenido de la imagen */
    background-color: rgb(3, 3, 124);
    color: white;
    border-radius: 15px;
  }
  
  .tarjetaImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .tarjetaImagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .tarjetaInfo {
    padding: 20px;
    text-align: left;
  }